<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= title %></title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/uploads/assets/images/favicon.png">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <link rel="stylesheet" href="/uploads/assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/uploads/assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="/uploads/assets/css/style.min.css">

</head>

<body>

    <div id="page" class="section">

       <%- include('./partials/navbar'); %>

        <!-- Page Banner Section Start -->
        <div class="page-banner-section section section-padding-200" data-bg-image="./uploads/assets/images/about/about01/bg.png">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-banner-title">
                            <h1 class="title">Grow strong to take up the challenges of life. The top lessons for getting you back on track.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Banner Section End -->

        <!-- About Section Start -->
        <div class="about-section section section-padding-top-190 section-padding-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 order-lg-1 order-2">
                        <div class="about-content mt-sm-50 mt-xs-50">
                            <span class="sub-title">Get to know about <strong>Frontline</strong></span>
                            <h2 class="title">Learn about our <span>Work Culture</span> at Frontline</h2>
                            <p>Frontline Learning Centre is an educational consulting firm that is committed to helping  teachers and school leaders build capacity for maximum  productivity. Further, our activities are centred around  raising innovative learners who are ready to take on challenges of the future of work.
                                </p>
                            <!-- <a class="link link-lg" href="JavaScript:Void(0);"> Have questions?​ <mark>Get Free Form <i class="far fa-long-arrow-right"></i></mark></a> -->
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 order-lg-1 order-1">
                        <div class="about-image">
                            <div class="about-image-one">
                                <img src="/uploads/images/about/about01/about1.jpg" alt="about01">
                            </div>
                           


                            <!-- Animation Shape Start -->
                            <div class="shape shape-1 scene">
                                <span data-depth="4">shape 1</span>
                            </div>
                            <div class="shape shape-2 scene">
                                <span data-depth="4"><img src="/uploads/assets/images/shape-animation/about-shape-1.png" alt=""></span>
                            </div>
                            <div class="shape shape-3 scene">
                                <span data-depth="4"><img src="/uploads/assets/images/shape-animation/nwesletter-shape-2.png" alt=""></span>
                            </div>
                            <div class="shape shape-4 scene">
                                <span data-depth="4"><img src="/uploads/assets/images/shape-animation/shape-1.png" alt=""></span>
                            </div>
                            <!-- Animation Shape End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


          <!-- Feature Section Start -->
          <div class="section section-padding-bottom-160" data-bg-color="">
                <div class="container">
    
                    <!-- Section Title Start -->
                    <div class="section-title text-center" data-aos="fade-up">
                        <span class="sub-title">OUR COMPANY</span>
                        <h2 class="title">Online <span>Coaching Lessons</span> For Remote Learning.</h2>
                    </div>
                    <!-- Section Title End -->
    
                    <!-- Feature Wrapper Start -->
                    <div class="row row-cols-xl-4 row-cols-sm-2 row-cols-1 no-gutters">
    
                        <!-- Feature Start (Icon Box) -->
                        <div class="col" data-aos="fade-up">
                            <a href="" class="icon-box text-center" data-vivus-hover>
                                <div class="icon"><img class="svgInject" src="/uploads/assets/images/svg/linea/linea-basic-flag2.svg" alt=""></div>
                                <div class="content">
                                    <h3 class="title">Our Vision</h3>
                                    <div class="desc">
                                        <p>Our vision is to engage teachers and school leaders in continuous professional development towards capacity building.</p>
                                    </div>
                                    <!-- <span class="link">Start here <i class="far fa-long-arrow-right"></i></span> -->
                                </div>
                            </a>
                        </div>
                        <!-- Feature Start (Icon Box) -->
    
                        <!-- Feature Start (Icon Box) -->
                        <div class="col" data-aos="fade-up">
                            <a href="" class="icon-box text-center" data-vivus-hover>
                                <div class="icon"><img class="svgInject" src="/uploads/assets/images/svg/linea/linea-basic-gear.svg" alt=""></div>
                                <div class="content">
                                    <h3 class="title">Our Mission</h3>
                                    <div class="desc">
                                        <p>Our mission is to mentor educators on the use of British curriculum towards building capacity for maximum productivity.
                                            </p>
                                    </div>
                                    <!-- <span class="link">Discover now <i class="far fa-long-arrow-right"></i></span> -->
                                </div>
                            </a>
                        </div>
                        <!-- Feature Start (Icon Box) -->
    
                        <!-- Feature Start (Icon Box) -->
                        <div class="col" data-aos="fade-up">
                            <a href="" class="icon-box text-center" data-vivus-hover>
                                <div class="icon"><img class="svgInject" src="/uploads/assets/images/svg/linea/linea-basic-life-buoy.svg" alt=""></div>
                                <div class="content">
                                    <h3 class="title">Our Core Values</h3>
                                    <div class="desc">
                                        <p>At Fronline, while working, we put to heart, our core values, which are productivity, Integrity and Excellence to yield expected result.</p>
                                    </div>
                                    <!-- <span class="link">Get Free Quote <i class="far fa-long-arrow-right"></i></span> -->
                                </div>
                            </a>
                        </div>
                        <!-- Feature Start (Icon Box) -->
    
                        <!-- Feature Start (Icon Box) -->
                        <div class="col" data-aos="fade-up">
                            <a href="" class="icon-box text-center" data-vivus-hover>
                                <div class="icon"><img class="svgInject" src="/uploads/assets/images/svg/linea/linea-basic-display.svg" alt=""></div>
                                <div class="content">
                                    <h3 class="title">Partner with us </h3>
                                    <div class="desc">
                                        <p>Frontline Learning Centre is interested in partnership that achieves the great empowerment of educators at all levels.</p>
                                    </div>
                                    <!-- <span class="link">Start now <i class="far fa-long-arrow-right"></i></span> -->
                                </div>
                            </a>
                        </div>
                        <!-- Feature Start (Icon Box) -->
    
                    </div>
                    <!-- Feature Wrapper End -->
    
                </div>
            </div>
            <!-- Feature Section End -->
        <!-- About Section End -->


         
      


        <!-- CTA Section Start -->
        <div class="cta-section section section-padding-bottom" data-bg-color="">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="cta-content text-center">
                            <span class="sub-title">Start today for getting <span>Online Certification</span></span>
                            <h2 class="title">You can be your own guiding star with our help!</h2>
                            <a href="/courses" class="btn btn-primary btn-hover-secondary btn-width-300"> Get started for free</a>

                            <!-- Animation Shape Start -->
                            <div class="shape shape-1 scene">
                                <span data-depth="4">shape 1</span>
                            </div>
                            <div class="shape shape-2 scene">
                                <span data-depth="4"><img src="/uploads/assets/images/shape-animation/cta-shape-01.png" alt=""></span>
                            </div>
                            <div class="shape shape-3 scene">
                                <span data-depth="4"><img src="/uploads/assets/images/shape-animation/nwesletter-shape-2.png" alt=""></span>
                            </div>
                            <!-- Animation Shape End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CTA Section End -->



         <!-- Testimonial Section Start -->
         <div class="section section-padding fix" style="margin-top:-8%">
                <div class="container">
    
                    <!-- Section Title Start -->
                    <div class="section-title text-center" data-aos="fade-up">
                        <span class="sub-title">equip yourself with the power of education</span>
                        <h2 class="title">Learn the secrets to <span>Life Success</span>, <br class="d-none d-md-block">these people have got the key.​</h2>
                    </div>
                    <!-- Section Title End -->
    
                    <!--Testimonial Slider Start -->
                    <div class="testimonial-slider swiper-container" data-aos="fade-up">
                        <div class="swiper-wrapper">
    
                            <div class="swiper-slide max-mb-30">
                                <div class="testimonial-two">
                                    <div class="author-info">
                                        <div class="image">
                                            <img src="/uploads/assets/images/testimonial/jeniffer.jpg" alt="">
                                        </div>
                                        <div class="cite">
                                            <div class="testimonial-rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <h6 class="name">Jennifer Nnaeto</h6>
                                            <span class="position">/ School owner, Crystal Hill Montessori International school Abidjan</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <p>I am so glad I was part of your trainee. Every training section was out of this world.May God continue to bless Frontline learning center.
                                        </p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="swiper-slide max-mb-30">
                                <div class="testimonial-two">
                                    <div class="author-info">
                                        <div class="image">
                                            <img src="/uploads/assets/images/testimonial/anita.jpg" alt="">
                                        </div>
                                        <div class="cite">
                                            <div class="testimonial-rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <h6 class="name">Edet Anita-Olubayo</h6>
                                            <span class="position">/ Early Years Teacher, Pearls Garden School, Ejigbo Lagos</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <p>The training was enlightening. It has taught me as a teacher to be intentional at my approach to teaching. I've also learnt planning and orderliness.
                                        </p>
                                    </div>
                                </div>
                            </div>
    
                          
    
                            <div class="swiper-slide max-mb-30">
                                <div class="testimonial-two">
                                    <div class="author-info">
                                        <div class="image">
                                            <img src="/uploads/assets/images/testimonial/evi.jpg" alt="">
                                        </div>
                                        <div class="cite">
                                            <div class="testimonial-rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <h6 class="name">Evi Nwaloka </h6>
                                            <span class="position">/ Mathematics teacher, Pearls Garden School, Ejigbo Lagos</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <p>The complete training package was mind blowing. I could feel figurative scales fall off my eyes.  I was wowed at the explanation of the core skills. It was a good lecture. I need to improve on my creativity in class and differentiate my learners so as to achieve maximum success.</p>
                                    </div>
                                </div>
                            </div>
    
                        </div><br>
                        <div class="swiper-pagination"></div>
                    </div>
                    <!--Testimonial Slider End -->
    
                </div>
            </div>
            <!-- Testimonial Section End -->


            <section><br><br>
                <div class="container">
                    <center><h4 class="text-center" style="width:70%;color:#3F3A64" >We have received thank you notes from our clients over the years, some of these clients are</h4></center>
                </div>
            </section>
           
    
          
            <!-- Brand Section Start -->
            <div class="brand-section section section-padding-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="brand-wrapper">
                                <div class="brand-list">
                                    <div class="brand-carousel swiper-container" data-aos="fade-up">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide brand brand-colored">
                                                <a href="#">
                                                    <img src="/uploads/assets/images/partners/graceland.png" alt="logo image">
                                                </a>
                                            </div>
    
                                            <div class="swiper-slide brand brand-colored">
                                                <a href="#">
                                                    <img src="/uploads/assets/images/partners/premaf.png" alt="logo image">
                                                </a>
                                            </div>
    
                                            <div class="swiper-slide brand brand-colored">
                                                <a href="#">
                                                    <img src="/uploads/assets/images/partners/white.png" alt="logo image">
                                                </a>
                                            </div>
    
                                            <div class="swiper-slide brand brand-colored">
                                                <a href="#">
                                                    <img src="/uploads/assets/images/partners/noriyaf.png" alt="logo image">
                                                </a>
                                            </div>
    
                                            <div class="swiper-slide brand brand-colored">
                                                <a href="#">
                                                    <img src="/uploads/assets/images/partners/ayo.png" alt="logo image">
                                                </a>
                                            </div>
    
                                            <div class="swiper-slide brand brand-colored">
                                                <a href="#">
                                                    <img src="/uploads/assets/images/partners/lighthouse.png" alt="logo image">
                                                </a>
                                            </div>
    
                                            
    
                                        </div>
    
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Brand Section End -->
      

        <!-- Newsletter Section Start -->
        <div class="newsletter-section section section-padding position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="newsletter-content">
                            <h2 class="title">Sign up for our <span>Newsletters</span></h2>
                            <% if(message.length > 0){ %>
                                <p ><%= message %></p>
                            <% }else { %>
                            <p>Enter your email address to register to our newsletter subscription <br class="d-none d-md-block">delivered on a regular basis! </p>
                           <% } %>
                            <div class="newsletter-form">
                                <form action="/subscribe" method="post" >
                                    <input type="email" name="email" placeholder="Your E-mail">
                                    <button class="btn btn-primary btn-hover-secondary">Subscribe</button>
                                </form>
                            </div>

                            <!-- Animation Shape Start -->
                            <div class="shape shape-1 scene">
                                <span data-depth="4">shape 3</span>
                            </div>
                            <div class="shape shape-2 scene">
                                <span data-depth="4"><img src="/uploads/assets/images/shape-animation/nwesletter-shape-1.png" alt=""></span>
                            </div>
                            <div class="shape shape-3 scene">
                                <span data-depth="4"><img src="/uploads/assets/images/shape-animation/nwesletter-shape-2.png" alt=""></span>
                            </div>
                            <!-- Animation Shape End -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter Section End -->
        <%- include('./partials/footer'); %>

        <!-- Scroll Top Start -->
        <a href="#" class="scroll-top" id="scroll-top">
            <i class="arrow-top fal fa-long-arrow-up"></i>
            <i class="arrow-bottom fal fa-long-arrow-up"></i>
        </a>
        <!-- Scroll Top End -->
    </div>

  <!-- mobile menu -->
  <%- include('./partials/mobileMenu'); %>
   <!-- end if mobbile nenu -->

    <!-- JS
============================================ -->

    <!-- Vendors JS -->
    <!-- <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-3.4.1.min.js"></script>
<script src="assets/js/vendor/jquery-migrate-3.1.0.min.js"></script>
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script> -->

    <!-- Plugins JS -->
    <!-- <script src="assets/js/plugins/parallax.min.js"></script>
<script src="assets/js/plugins/jquery.ajaxchimp.min.js"></script> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="/uploads/assets/js/vendor/vendor.min.js"></script>
    <script src="/uploads/assets/js/plugins/plugins.min.js"></script>

    <!-- Main Activation JS -->
    <script src="/uploads/assets/js/main.js"></script>





</body>

</html>