<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Course Grid 02 - MaxCoach</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

   

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">

</head>

<body>

    <div id="page">
      <%- include('./partials/navbar') %>

        <!-- Page Title Section Start -->
        <div class="page-title-section section">
            <div class="page-title">
                <div class="container">
                    <h1 class="title">Courses </h1>
                </div>
            </div>
            <div class="page-breadcrumb">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="current">Courses</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Page Title Section End -->

        <!-- Course Section Start -->
        <div class="section section-padding-bottom">
            <div class="container">

         

                <!-- Courses Wrapper Start -->
                <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 max-mb-n30">

                  

            
                    <% for(var i =0 ; i < courses.length; i++) { %>
                        
                        <!-- Course Start -->
                        <div class="col max-mb-30" data-aos="fade-up">
                            <div class="course-2">
                                <div class="thumbnail">
                                    <a href="/coursedetails/<%= courses[i]._id %>" class="image"><img src="<%= courses[i].courseImage.slice(8) %>" alt="Course Image"></a>
                                </div>
                                <div class="info">
                                    <span class="price"><%= courses[i].price %></span>
                                    <span class="date"><%= courses[i].date.toString().slice(0,15) %></span>
                                    <h3 class="title"><a href="/coursedetails/<%= courses[i]._id %>"><%= courses[i].title %></a></h3>
                                   <p><%= courses[i].description.slice(0,122) %>...</p>
                                    <ul class="meta">
                                        <li><i class="far fa-file-alt"></i><%= courses[i].lectureNo %></li>
                                        <li><i class="far fa-user-alt"></i><%= courses[i].enrolled %>  </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Course End -->

                    <% } %>


                  

                   


                </div>
                <!-- Courses Wrapper End -->




            </div>
        </div>
        <!-- Course Section End -->


        
       

         <!-- CTA Section Start -->
         <div class="cta-section section section-padding" data-bg-color="">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="cta-content text-center">
                            <span class="sub-title" style="color:red" >WARNING!</span></span>
                            <h2 class="title">5 THINGS YOU SHOULD NEVER DO AS A SCHOOL OWNER
                                 </h2>
                            <a href="https://youtu.be/Bz1la_OpOZ4" class="btn btn-primary btn-hover-secondary btn-width-300" style="background-color: #DC4637;border:none;padding-top:0px;font-weight:bold"> Check Out Now</a>

                            <!-- Animation Shape Start -->
                            <div class="shape shape-1 scene">
                                <span data-depth="4">shape 1</span>
                            </div>
                            <div class="shape shape-2 scene">
                                <span data-depth="4"><img src="assets/images/shape-animation/cta-shape-01.png" alt=""></span>
                            </div>
                            <div class="shape shape-3 scene">
                                <span data-depth="4"><img src="assets/images/shape-animation/nwesletter-shape-2.png" alt=""></span>
                            </div>
                            <!-- Animation Shape End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CTA Section End -->
<%- include('./partials/footer') %>

        <!-- Scroll Top Start -->
        <a href="#" class="scroll-top" id="scroll-top">
            <i class="arrow-top fal fa-long-arrow-up"></i>
            <i class="arrow-bottom fal fa-long-arrow-up"></i>
        </a>
        <!-- Scroll Top End -->
    </div>

  <%- include('./partials/mobileMenu')  %>

    <!-- JS
============================================ -->

    <!-- Vendors JS -->
    <!-- <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-3.4.1.min.js"></script>
<script src="assets/js/vendor/jquery-migrate-3.1.0.min.js"></script>
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script> -->

    <!-- Plugins JS -->
    <!-- <script src="assets/js/plugins/parallax.min.js"></script>
<script src="assets/js/plugins/jquery.ajaxchimp.min.js"></script> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>

    <!-- Main Activation JS -->
    <script src="assets/js/main.js"></script>





</body>

</html>