<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= title %></title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/uploads/assets/images/favicon.png">

    
    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <link rel="stylesheet" href="/uploads/assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/uploads/assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="/uploads/assets/css/style.min.css">


    <style>
        .show_main{
            display:block;
        }
        .show_phone{
            display:none;
        }
        @media screen and (max-width:768px){

            .show_main{
            display:none;
        }
            .show_phone{
            display:block;
        }
           
       
      
        }
    </style>
</head>

<body>

    <div id="page">
            <%- include('./partials/navbar'); %>

       

        <!-- Slider/Intro Section Start -->
        <div class="intro2-section section">

            <div class="container">
                <div class="row row-cols-lg-2 row-cols-1 max-mb-n30">

                    <!-- Intro One Content Start -->
                    <div class="col align-self-center max-mb-30" data-aos="fade-up">
                        <div class="intro2-content text-center text-md-left" style="margin-top:-20px;">
                             
                            <h2 class="title">Frontline Learning Centre </h2>
                            <div class="desc">
                                <p style="">Learning is a life-long journey. Continued professional development increase job performance and productivity.</p>
                            </div>
                            <a href="/courses" class="btn btn-primary btn-hover-secondary"><i class="far fa-download mr-3"></i> Enrol for a Training! </a>
                            <a class="link link-lg" href="https://wa.me/2347056558446?text=Good%20day%20my%20name%20is%20__________________________%20I%20am%20interested%20in%20the%20class
                            "> Got questions?​ <mark>Contact us <i class="far fa-long-arrow-right"></i></mark></a>
                        </div>
                    </div>
                    <!-- Intro One Content End -->

                    <!-- Intro One Course Start -->
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="contact-image intro2-image " style="margin-top:-30px; margin-left:0px;">
                            <img class="" src="/uploads/assets/images/coach/coach.png" alt="">

                            <!-- Animation Shape Start -->
                            <div class="shape shape-1 scene">
                                <span data-depth="3">
                                    <img src="/uploads/assets/images/shape-animation/about-shape-1.png" alt="">
                                </span>
                            </div>
                            <div class="shape shape-2 scene">
                                <span data-depth="-3"><img src="/uploads/assets/images/shape-animation/about-shape-1.png" alt=""></span>
                            </div>
                            <div class="shape shape-3 scene">
                                <span data-depth="4">shape 3</span>
                            </div>
                            <div class="shape shape-4 scene">
                                <span data-depth="4"><img src="/uploads/assets/images/shape-animation/shape-1.png" alt=""></span>
                            </div>
                            <div class="shape shape-5 scene">
                                <span data-depth="4"><img src="/uploads/assets/images/shape-animation/nwesletter-shape-2.png" alt=""></span>
                            </div>
                            <!-- Animation Shape End -->
                        </div>
                    </div>
                    <!-- Intro One Course End -->

                </div>
            </div>

        </div>
        <!-- Slider/Intro Section End -->

        <!-- Brand Section Start -->
        <!-- <div class="brand-section section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="brand-wrapper">
                            <div class="brand-list">
                                <div class="brand-carousel swiper-container" data-aos="fade-up">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide brand">
                                            <a href="#">
                                                <img src="assets/images/brand/client-logo-01.png" alt="logo image">
                                            </a>
                                        </div>

                                        <div class="swiper-slide brand">
                                            <a href="#">
                                                <img src="assets/images/brand/client-logo-02.png" alt="logo image">
                                            </a>
                                        </div>

                                        <div class="swiper-slide brand">
                                            <a href="#">
                                                <img src="assets/images/brand/client-logo-03.png" alt="logo image">
                                            </a>
                                        </div>

                                        <div class="swiper-slide brand">
                                            <a href="#">
                                                <img src="assets/images/brand/client-logo-04.png" alt="logo image">
                                            </a>
                                        </div>

                                        <div class="swiper-slide brand">
                                            <a href="#">
                                                <img src="assets/images/brand/client-logo-05.png" alt="logo image">
                                            </a>
                                        </div>

                                        <div class="swiper-slide brand">
                                            <a href="#">
                                                <img src="assets/images/brand/client-logo-06.png" alt="logo image">
                                            </a>
                                        </div>

                                        <div class="swiper-slide brand">
                                            <a href="#">
                                                <img src="assets/images/brand/client-logo-07.png" alt="logo image">
                                            </a>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Brand Section End -->



      <!-- Feature Section Start -->
      <div class="section section-padding">
            <div class="container">
    
                <!-- Section Title Start -->
                <div class="section-title text-center" data-aos="fade-up">
                    <span class="sub-title"> OUR COMPANY </span>
                    <h2 class="title fz-48">We build <span>FRONLINERS</span></h2>
                </div>
                <!-- Section Title End -->

                <div class="row show_main " >
                        <div class="" style="padding:" >
                                <div class="row ">
                       

                                        <div class="col-sm-5">
                                            <div class="di"  style="width: 100%; padding-left:5%;padding-top: 2%"><br>
                                                    <p class="" style="line-height: 30px;"> Frontline Learning Centre is an educational consulting firm that is committed to helping  teachers and school leaders build capacity for maximum  productivity. Further, our activities are centred around  raising innovative learners who are ready to take on challenges of the future of work. <br>Our core Values are Productivity, Integrity and excellent customer Service.
                                                    </p>
                                            </div>
                                               
                                        </div>
                                        <div class="col-sm-7" style="margin-top: -6.5%; background-color: rjed">
                                               <div class="float-right" style="padding: 5%; position: relative;left:10%">
                                                    <img src="/uploads/assets/images/custom/about.png" width="100%"  >
                                               </div>
                                            </div>
                        
                                        
                                </div>
                        </div>
                   
                   
                       
                </div>


                <div class="row show_phone "  >
                    <div class="col-sm-7" >
                        <img src="/uploads/assets/images/custom/about.png" width="100%"  >
                    </div>
                    <div class="col-sm-5">
                            <p class="text-center"> Frontline Learning Centre is an educational consulting firm that is committed to helping  teachers and school leaders build capacity for maximum  productivity. Further, our activities are centred around  raising innovative learners who are ready to take on challenges of the future of work. <br>Our vision is to engage teachers and school leaders in continuous professional development towards capacity building.
                                </p>
                    </div>
                       
                </div>
    
              
    
            </div>
        </div>
        <!-- Feature Section End -->


        




  <!-- Feature Section Start -->
  <div class="section section-padding" style="margin-top:-10%;">
        <div class="container">

            <!-- Section Title Start -->
            <div class="section-title text-center" data-aos="fade-up">
                <span class="sub-title">WHAT WE OFFER</span>
                <h2 class="title fz-48">Invest in your career  <span>TODAY</span></h2>
            </div>
            <!-- Section Title End -->

            <!-- Feature Wrapper Start -->
            <div class="row row-cols-xl-4 row-cols-sm-2 row-cols-1 max-mb-n30">

                <!-- Feature Start (Icon Box) -->
                <div class="col max-mb-30" data-aos="fade-up">
                    <a href="/courses" class="icon-box h5-icon-box text-center">
                        <div class="icon"><img src="/uploads/assets/images/custom/service1.png" alt=""></div>
                        <div class="content">
                            <h3 class="title">British Curriculum training
                                </h3>
                            <div class="desc">
                                <p>Our team comprises certified experts in EYFS (Early years’ foundation stage), Checkpoint and IGCSE  experts. We  give guaranteed strategies for Blending Nigerian and British curricula.
                                        </p>
                            </div>
                            <span class="link">Start Course Now! <i class="far fa-long-arrow-right"></i></span>
                        </div>
                    </a>
                </div>
                <!-- Feature Start (Icon Box) -->

                <!-- Feature Start (Icon Box) -->
                <div class="col max-mb-30" data-aos="fade-up">
                    <a href="https://wa.me/2347056558446?text=Good%20day%20my%20name%20is%20__________________________%20I%20am%20interested%20in%20the%20class" class="icon-box h5-icon-box text-center">
                        <div class="icon"><img src="/uploads/assets/images/custom/service2.png" alt=""></div>
                        <div class="content">
                            <h3 class="title">In house teachers training
                                </h3>
                            <div class="desc">
                                <p>We offer this service on request. Our training at Frontline Learning Center will help your teachers build capacity and improve their productivity in their official duties.</p>
                            </div>
                            <span class="link">Start with us Now <i class="far fa-long-arrow-right"></i></span>
                        </div>
                    </a>
                </div>
                <!-- Feature Start (Icon Box) -->

                <!-- Feature Start (Icon Box) -->
                <div class="col max-mb-30" data-aos="fade-up">
                    <a href="https://wa.me/2347056558446?text=Good%20day%20my%20name%20is%20__________________________%20I%20am%20interested%20in%20the%20class" class="icon-box h5-icon-box text-center">
                        <div class="icon"><img src="/uploads/assets/images/custom/service3.png" alt=""></div>
                        <div class="content">
                            <h3 class="title">School growth consultancy</h3>
                            <div class="desc">
                                <p>We offer general consulting services that help in building a leading school. We achieve this by engaging certain proven principles to yield predictable results
                                    </p>
                            </div>
                            <span class="link">Contact us Now <i class="far fa-long-arrow-right"></i></span>
                        </div>
                    </a>
                </div>
                <!-- Feature Start (Icon Box) -->

                <!-- Feature Start (Icon Box) -->
                <div class="col max-mb-30" data-aos="fade-up">
                    <a href="https://wa.me/2347056558446?text=Good%20day%20my%20name%20is%20__________________________%20I%20am%20interested%20in%20the%20class" class="icon-box h5-icon-box text-center">
                        <div class="icon"><img src="/uploads/assets/images/custom/service4.png" alt=""></div>
                        <div class="content">
                            <h3 class="title">Personal  coaching session</h3>
                            <div class="desc">
                                <p>At Frontline Learning Center, we offer transformational personal coaching session. You can contact the lead trainer to book a session by visiting the link below 
                                    
                                </p>
                            </div>
                            <span class="link">Contact Lead Trainer <i class="far fa-long-arrow-right"></i></span>
                        </div>
                    </a>
                </div>
                <!-- Feature Start (Icon Box) -->

            </div>
            <!-- Feature Wrapper End -->

        </div>
    </div>
    <!-- Feature Section End -->

    

       <!-- Faq Section Start -->
       <div class="faq-section section section-padding-bottom position-relative">
            <div class="container">
                <div class="row row-cols-lg-2 row-cols-1 align-items-center">
                    <div class="col">
                        <div class="faq-left-image">
                            <img src="/uploads/assets/images/custom/whyus.png" alt="about">

                            <!-- Animation Shape Start -->
                            <div class="shape shape-1 scene">
                                <span data-depth="3">
                                    <img src="/uploads/assets/images/shape-animation/shape-2.svg" alt="" class="svgInject">
                                </span>
                            </div>
                            <!-- Animation Shape End -->
                        </div>
                    </div>
                    <div class="col">
                        <div class="faq-content-area">
                            <!-- Section Title Start -->
                            <div class="section-title text-left mb-50" data-aos="fade-up">
                                <span class="sub-title">Why  <strong>Choose Us</strong></span>
                                <h2 class="title fz-48">Equiping   <span>Educators</span> with best Practices </h2>
                            </div>
                            <!-- Section Title End -->

                            <div class="mx-accordion max-mb-n30" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <a href="#" class="acc-btn border-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Capacity building for educators
                                            </a>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">We are committed to our vision of supporting educators and schools towards raising students with valuable skills required to lead their world. Our courses are carefully designed by experienced and innovative instructors to raise better educators.

                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <a href="#" class="acc-btn border-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Helping learners have lasting passion for learning

                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">Further, for our tutoring services, we only recommend tutors who are experienced in British curriculum (EYFS checkpoint and IGCSE). our tutors undergo a careful screening process to make sure that only tutors with professional experience are selected. Unlike some operators that have open registration and allow everyone with or without experience and qualification to register and become a tutor with them, we take this matter seriously and only accept high-quality candidates

                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <a href="" class="acc-btn border-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Tutors are available for all subjects
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body">Our tutors cover a wide range of subjects including English and Mathematics, Sciences, Humanities etc. Private tuition for Entrance examination to British Schools, Cambridge primary and lower secondary Checkpoint, Cambridge IGCSE are all catered for.

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Faq Section End -->


          <!-- Funfact Section Start -->
          <div class="funfact-section section section-padding-top" data-bg-color="#faf8f6">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 mx-auto">
                            <div class="row row-cols-md-4 row-cols-1 max-mb-n30">
    
                                <!-- Funfact Start -->
                                <div class="col max-mb-30" data-aos="fade-up">
                                    <div class="funfact">
                                        <div class="number"><span class="counter">1,926</span></div>
                                        <h6 class="text">Finished Sessions</h6>
                                    </div>
                                </div>
                                <!-- Funfact End -->
    
                                <!-- Funfact Start -->
                                <div class="col max-mb-30" data-aos="fade-up">
                                    <div class="funfact">
                                        <div class="number"><span class="counter">10,092</span>+</div>
                                        <h6 class="text">Online Enrollment</h6>
                                    </div>
                                </div>
                                <!-- Funfact End -->
    
                                <!-- Funfact Start -->
                                <div class="col max-mb-30" data-aos="fade-up">
                                    <div class="funfact">
                                        <div class="number"><span class="counter">20</span>+</div>
                                        <h6 class="text">Subjects Taught</h6>
                                    </div>
                                </div>
                                <!-- Funfact End -->
    
                                <!-- Funfact Start -->
                                <div class="col max-mb-30" data-aos="fade-up">
                                    <div class="funfact">
                                        <div class="number"><span class="counter">100</span>%</div>
                                        <h6 class="text">Satisfaction rate</h6>
                                    </div>
                                </div>
                                <!-- Funfact End -->
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Funfact Section End -->


  <!-- Course Section Start -->
  <div class="section section-padding" data-bg-color="#FAF8F6">
        <div class="container">

            <!-- Section Title Start -->
            <div class="section-title text-center" data-aos="fade-up">
                <span class="sub-title">Choose where you'd like to begin</span>
                <h2 class="title fz-48">Latest Featured <span>Courses</span></h2>
            </div>
            <!-- Section Title End -->

            <!-- Course Wrapper Start -->
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 max-mb-n30">

               
                <% for(var i =0 ; i < courses.length; i++) { %>
                        
                    <!-- Course Start -->
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="course-2">
                            <div class="thumbnail">
                                <a href="/coursedetails/<%= courses[i]._id %>" class="image"><img src="<%= courses[i].courseImage.slice(8) %>" alt="Course Image"></a>
                            </div>
                            <div class="info">
                                <span class="price"><%= courses[i].price %></span>
                                <span class="date"><%= courses[i].date.toString().slice(0,15) %></span>
                                <h3 class="title"><a href="/coursedetails/<%= courses[i]._id %>"><%= courses[i].title %></a></h3>
                               <p><%= courses[i].description.slice(0,122) %>...</p>
                                <ul class="meta">
                                    <li><i class="far fa-file-alt"></i><%= courses[i].lectureNo %></li>
                                    <li><i class="far fa-user-alt"></i><%= courses[i].enrolled %>  </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Course End -->

                <% } %>

               

              

            </div>
            <!-- Course Wrapper End -->

            <div class="row max-mt-40">
                <div class="text-center col-lg-7 mx-auto">
                    <a href="/courses" class="btn btn-primary btn-hover-secondary"> View all courses <i class="far fa-long-arrow-right ml-3"></i></a>
                </div>
            </div>

        </div>

        <!-- Section Bottom Shape Start -->
        <div class="section-bottom-shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" height="100">
                <path class="elementor-shape-fill" d="M 0 0 L0 100 L100 100 L100 0 Q 50 200 0 0"></path>
            </svg>
        </div>
        <!-- Section Bottom Shape End -->
    </div>
    <!-- Course Section End -->



     <!-- Register Section Start -->
     <div class="register-section section section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-4 col-lg-5 order-2 order-lg-1">
                    <div class="register-content">
                        <!-- Section Title Start -->
                        <div class="section-title text-left mb-30" data-aos="fade-up">
                            <span class="sub-title">Why online private Tutoring?</span>
                            <h2 class="title fz-48">Consider Online <span>Tutoring </span>now</h2>
                        </div>
                        <!-- Section Title End -->

                        <ul class="maxcoach-list">
                            <li class="item">
                                <div class="icon">
                                    <i class="fas fa-check"></i>
                                </div>
                                <div class="text">No driving time </div>
                            </li>
                            <li class="item">
                                <div class="icon">
                                    <i class="fas fa-check"></i>
                                </div>
                                <div class="text">Parents do not have to be home
                                </div>
                            </li>
                            <li class="item">
                                <div class="icon">
                                    <i class="fas fa-check"></i>
                                </div>
                                <div class="text">Parents can be in the same room  </div>
                            </li>
                            <li class="item">
                                <div class="icon">
                                    <i class="fas fa-check"></i>
                                </div>
                                <div class="text">Tutoring continues if you change home or travel
                                </div>
                            </li>
                            <li class="item">
                                <div class="icon">
                                    <i class="fas fa-check"></i>
                                </div>
                                <div class="text">Students are comfortable with technology
                                </div>
                            </li>
                            <li class="item">
                                <div class="icon">
                                    <i class="fas fa-check"></i>
                                </div>
                                <div class="text">The weather never affects tutoring
                                </div>
                            </li>
                            <li class="item">
                                <div class="icon">
                                    <i class="fas fa-check"></i>
                                </div>
                                <div class="text">Lessons can be recorded
                                </div>
                            </li>
                        </ul>

                        <a href="/hometutorial" class="btn btn-primary btn-hover-secondary">  Request a tutor now! </a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 order-1 order-lg-2">
                    <div class="register-image mb-sm-50 mb-xs-50">
                        <img src="/uploads/assets/images/others/home-5-image-01.png" alt="">

                        <!-- Animation Shape Start -->
                        <div class="shape shape-1 scene">
                            <span data-depth="3">
                                <img src="/uploads/assets/images/shape-animation/shape-2.svg" alt="" class="svgInject">
                            </span>
                        </div>
                        <div class="shape shape-2 scene">
                            <span data-depth="-3"><img src="/uploads/assets/images/shape-animation/shape-3.png" alt=""></span>
                        </div>
                        <!-- Animation Shape End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Section End -->


          <!-- Testimonial Section Start -->
          <div class="testimonial-section section section-padding-top" data-bg-color="#f8f8f8">
                <div class="container">
                    <!-- Section Title Start -->
                    <div class="section-title text-center" data-aos="fade-up">
                        <span class="sub-title">People are praising Frontline</span>
                        <h2 class="title fz-48">What makes them <span>love us?</span></h2>
                    </div>
                    <!-- Section Title End -->
                    <!--Testimonial Slider Start -->
                    <div class="h5-testimonial-slider swiper-container" data-aos="fade-up">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <!-- Static Testimonial Start -->
                                <div class="static-testimonial h5-testimonial mb-30">
                                    <div class="testimonial-image">
                                        <img src="/uploads/assets/images/testimonial/jeniffer.jpg" alt="">
                                    </div>
                                    <div class="testimonial-content">
                                        <p>I am so glad I was part of your trainee. Every training section was out of this world.May God continue to bless Frontline learning center.<br><br>
                                        </p>
                                    </div>
                                    <div class="author-info">
                                        <div class="cite">
                                            <h6 class="name">Jennifer Nnaeto</h6>
                                            <span class="position">/ School owner, Crystal Hill Montessori International school Abidjan</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Static Testimonial End -->
                            </div>

                            <div class="swiper-slide">
                                <!-- Static Testimonial Start -->
                                <div class="static-testimonial h5-testimonial mb-30">
                                    <div class="testimonial-image">
                                        <img src="/uploads/assets/images/testimonial/anita.jpg" alt="">
                                    </div>
                                    <div class="testimonial-content">
                                        <p>The training was enlightening. It has taught me as a teacher to be intentional at my approach to teaching. I've also learnt planning and orderliness.

                                        </p>
                                    </div>
                                    <div class="author-info">
                                        <div class="cite">
                                            <h6 class="name">Edet Anita – Olubayo</h6>
                                            <span class="position">/ Early Years Teacher, Pearls Garden School, Ejigbo Lagos</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Static Testimonial End -->
                            </div>



                            <div class="swiper-slide">
                                <!-- Static Testimonial Start -->
                                <div class="static-testimonial h5-testimonial mb-30">
                                    <div class="testimonial-image">
                                        <img src="/uploads/assets/images/testimonial/evi.jpg" alt="">
                                    </div>
                                    <div class="testimonial-content">
                                        <p>The complete training package was mind blowing. I could feel figurative scales fall off my eyes.  I was wowed at the explanation of the core skills. It was a good lecture. I need to improve on my creativity in class and differentiate my learners so as to achieve maximum success.
                                        </p>
                                    </div>
                                    <div class="author-info">
                                        <div class="cite">
                                            <h6 class="name">Evi Nwaloka</h6>
                                            <span class="position">/ Mathematics teacher, Pearls Garden School, Ejigbo Lagos</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Static Testimonial End -->
                            </div>

                            <div class="swiper-slide">
                                <!-- Static Testimonial Start -->
                                <div class="static-testimonial h5-testimonial mb-30">
                                    <div class="testimonial-image">
                                        <img src="/uploads/assets/images/testimonial/toba.jpg" alt="">
                                    </div>
                                    <div class="testimonial-content">
                                        <p>I learnt the British teachers' mindset in the classroom and was equipped to teach Nigerian Students Mathematics as a British Mathematics teacher would do. British Curriculum is what we really need if we want to give our children 21st century standard education. Thank you Frontline leaders.
                                        </p>
                                    </div>
                                    <div class="author-info">
                                        <div class="cite">
                                            <h6 class="name">Oloruntuyi Oloruntoba Aaron </h6>
                                            <span class="position">/ Mathematics teacher, Jacobs Model School, Sango Ota, Ogun State</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Static Testimonial End -->
                            </div>


                            <div class="swiper-slide">
                                <!-- Static Testimonial Start -->
                                <div class="static-testimonial h5-testimonial mb-30">
                                    <div class="testimonial-image">
                                        <img src="/uploads/assets/images/testimonial/clinton.jpg" alt="">
                                    </div>
                                    <div class="testimonial-content">
                                        <p>The instructors were outstanding. Learned tons of info. I would certainly recommend the British curriculum Training to any teacher. Exactly  what I needed at the right time and at the right price. I relied on this training to develop skills and understanding in effective teaching and classroom management.  I was happy with the results and will recommend them to my colleagues at work.
                                        </p>
                                    </div>
                                    <div class="author-info">
                                        <div class="cite">
                                            <h6 class="name">Clinton Akujor</h6>
                                            <span class="position">/ Teacher of Science and Chemistry, Lagos.                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Static Testimonial End -->
                            </div>
                           
                        </div>
                        <div class="swiper-pagination"></div><br><br>
                    </div>
                    <!--Testimonial Slider End -->
                </div>
            </div>
            <!-- Testimonial Section End -->
     



      


        <!-- Newsletter Section Start -->
        <div class="newsletter-section section section-padding position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="newsletter-content">
                            <h2 class="title">Sign up for our <span>Newsletters</span></h2>
                            <% if(message.length > 0){ %>
                                <p ><%= message %></p>
                            <% }else { %>
                            <p>Enter your email address to register to our newsletter subscription <br class="d-none d-md-block">delivered on a regular basis! </p>
                           <% } %>
                            <div class="newsletter-form">
                                <form action="/subscribe" method="post" >
                                    <input type="email" name="email" placeholder="Your E-mail">
                                    <button class="btn btn-primary btn-hover-secondary">Subscribe</button>
                                </form>
                            </div>

                            <!-- Animation Shape Start -->
                            <div class="shape shape-1 scene">
                                <span data-depth="4">shape 3</span>
                            </div>
                            <div class="shape shape-2 scene">
                                <span data-depth="4"><img src="/uploads/assets/images/shape-animation/nwesletter-shape-1.png" alt=""></span>
                            </div>
                            <div class="shape shape-3 scene">
                                <span data-depth="4"><img src="/uploads/assets/images/shape-animation/nwesletter-shape-2.png" alt=""></span>
                            </div>
                            <!-- Animation Shape End -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter Section End -->

        <%- include('./partials/footer'); %>

        <!-- Newsletter Popup Startdi
        <div id="max-popup" class="max-popup-section section">
            <div class="max-popup-dialog animated fadeInUp">
                <button class="max-popup-close"><i class="fal fa-times"></i></button>
                <div class="max-popup-dialog-inner">
                    <div class="row">
                        <div class="col-md-5 col-12 d-none d-md-block">
                            <div class="freecourse-popup-image">
                                <img src="assets/images/others/popup-free-course.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 col-12 align-self-center">
                            <div class="freecourse-popup-content">
                                <h6 class="sub-title">Get Our Course free</h6>
                                <h2 class="title">Awesome for Website</h2>
                                <div class="freecourse-download-form">
                                    <form action="#">
                                        <div class="row max-mb-n20">
                                            <div class="col-12 max-mb-20">
                                                <input type="email" placeholder="Your E-mail">
                                            </div>
                                            <div class="col-12 max-mb-20">
                                                <button class="btn btn-primary btn-hover-secondary w-100">Download now</button>
                                            </div>
                                            <div class="col-12 max-mb-20">
                                                <small class="form-text text-center"><i class="fal fa-lock-alt mr-2"></i> Your infomation will never be shared with any third party</small>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Newsletter Popup End -->

        <!-- Scroll Top Start -->
        <a href="#" class="scroll-top" id="scroll-top">
            <i class="arrow-top fal fa-long-arrow-up"></i>
            <i class="arrow-bottom fal fa-long-arrow-up"></i>
        </a>
        <!-- Scroll Top End -->
    </div>


<!-- mobile menu -->
<%- include('./partials/mobileMenu'); %>

   

    <!-- JS
============================================ -->

    <!-- Vendors JS -->
    <!-- <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-3.4.1.min.js"></script>
<script src="assets/js/vendor/jquery-migrate-3.1.0.min.js"></script>
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script> -->

    <!-- Plugins JS -->
    <!-- <script src="assets/js/plugins/parallax.min.js"></script>
<script src="assets/js/plugins/jquery.ajaxchimp.min.js"></script> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="/uploads/assets/js/vendor/vendor.min.js"></script>
    <script src="/uploads/assets/js/plugins/plugins.min.js"></script>

    <!-- Main Activation JS -->
    <script src="/uploads/assets/js/main.js"></script>





</body>

</html>